/* register.css*/

.register-container {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.register-form {
    max-width: 300px;
    width: 100%;
}

.register-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}